<ion-header>
    <ion-toolbar> 
        <ion-title>{{ note.description }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="deleteNote()">Apagar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-textarea placeholder="Edite o nome da nota" [autoGrow]="true" [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <ion-list>
        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select aria-label="state" interface="popover" [(ngModel)]="selectedState">
                <ion-select-option [value]="State.TODO">To Do</ion-select-option>
                <ion-select-option [value]="State.DONE">Done</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Prioridade</ion-label>
            <ion-select aria-label="priority" interface="popover" [(ngModel)]="selectedPriority">
                <ion-select-option [value]="Priority.LOW">Baixa</ion-select-option>
                <ion-select-option [value]="Priority.NORMAL">Normal</ion-select-option>
                <ion-select-option [value]="Priority.CRITICAL">Critica</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-button expand="block" (click)="confirm()">Guardar</ion-button>
</ion-footer>
