<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="deleteNote()">Apagar</ion-button>
        </ion-buttons>
    </ion-toolbar>
    </ion-header>

<ion-content>
    <ion-item>
        <ion-textarea placeholder="Edite aqui a sua task" [autoGrow]="true" value="{{ task['name'] }}">
        </ion-textarea>
    </ion-item>

    <ion-list>
        <ion-item>
            <ion-label>Estado</ion-label>
                <ion-select aria-label="state" interface="popover" placeholder="{{ task['state'] }}" >
                    <ion-select-option value="Todo">To Do</ion-select-option>
                    <ion-select-option value="Done">Done</ion-select-option>
                </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Prioridade</ion-label>
                <ion-select aria-label="state" interface="popover" placeholder="{{ task['priority'] }}" >
                    <ion-select-option value="Normal">Normal</ion-select-option>
                    <ion-select-option value="Critical">Critica</ion-select-option>
                </ion-select>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-button expand="block" color="success" (click)="confirm()">Guardar</ion-button>
</ion-footer>
