<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <ion-title class="ion-text-center">As minhas notas</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>To Do</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Done</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item *ngFor="let task of tasks" (click)="openNoteModal(task)">
    <ion-label>{{ task ['name'] }}</ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title style="font-size: 15px;">Notes 2024</ion-title>
  </ion-toolbar>
</ion-footer>

