<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      As minhas notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>To Do</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Done</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item *ngFor="let task of tasks" (click)="openNoteModal(task)">
    <ion-label>{{ task }}</ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
