<!-- Header -->
<ion-header>

  <ion-toolbar>
    <div class="header-content">
      <ion-title class="ion-text-center">As minhas notas</ion-title>
    </div>
  </ion-toolbar>

</ion-header>

<!-- Content -->
<ion-content>

  <div class="center-button-wrapper ion-text-center ion-margin-vertical">
    <ion-button (click)="getNotes()">Carregar Notas</ion-button>
  </div>

  <!-- Segmento para filtrar as tarefas -->
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="TODO">
      <ion-label>To Do</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DONE">
      <ion-label>Done</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <!-- Lista de tarefas filtradas -->
  <ion-item *ngFor="let notes of getFilteredNotes()" (click)="openNoteModal(notes)"> <!-- For para listar todas as notas -->
    <ion-label>{{ notes.description }}</ion-label>
  </ion-item>

  <!-- Botun para adicionar nova tarefa -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openCreateModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<!-- Footer -->
<ion-footer>

  <ion-toolbar class="ion-text-center">
    <ion-title style="font-size: 15px;">Notes 2024</ion-title>
  </ion-toolbar>

</ion-footer>
